<ion-view view-title="Menu" ng-init="clear()" style="color:#E81759">
    <ion-content ng-class="{expanded:isExpanded}" style="background-color:#5E5E94">
        
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ui-sref="app.search" class="item item-icon-left">
                    <i class="icon ion-checkmark-round"></i>
                    Take an Attendance
                    </a>
                </div>
            </div>
        
       
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ui-sref="app.data" class="item item-icon-left">
                    <i class="icon ion-compose"></i>
                    Manage Data
                    </a>
                </div>
            </div>
       
        
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ui-sref="app.sync" class="item item-icon-left">
                    <i class="icon ion-clipboard"></i>
                    Sync
                    </a>
                </div>
            </div>

            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ui-sref="app.logout" class="item item-icon-left">
                    <i class="icon ion-power"></i>
                    LogOut
                    </a>
                </div>
            </div>
        
        
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ui-sref="app.aboutus" class="item item-icon-left">
                    <i class="icon ion-person-stalker"></i>
                    About Us
                    </a>
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>
