<ion-view view-title="Manage Data" ng-init="clear()" style="color:#E81759">
    <ion-content ng-class="{expanded:isExpanded}" style="background-color:#5E5E94">
        
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ui-sref="app.add" class="item item-icon-left">
                    <i class="icon ion-plus-circled"></i>
                    Add Data
                    </a>
                </div>
            </div>
        
       
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ui-sref="app.view" class="item item-icon-left">
                    <i class="icon ion-ios-paper-outline"></i>
                    View Data
                    </a>
                </div>
            </div>
       
    </ion-content>
</ion-view>
