<ion-view view-title="Sync" ng-init="alert()">
  <ion-content>

 <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ng-click="sync()" class="item item-icon-left">
                    <i class="icon ion-ios-cloud-upload"></i>
                    Sync
                    </a> 
                </div>
            </div>

  	<div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap" style="color:#E81759">
                    <a ng-click="cancel()" class="item item-icon-left">
                    <i class="icon ion-ios-close"></i>
                    Cancel 
                    </a>
                </div>
    </div>
  	
  </ion-content>
</ion-view>
